.Pokedex {
  text-align: center;
} 

.Pokecard {
  display: inline-block;
  background-color: lightgray;
  margin-left: 15px;
  text-align: center;
  padding: 0px 15px;
  border-radius: 10px;
}

.Pokecard-name {
  color: blue;
}

h2 {
  text-align: center;
}
